/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #02f2ff, #113dff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Logo */
.logo {
    position: absolute;
    top: 0%;
    left: 88%;
    transform: translateX(-50%);
    width: 270px;
    z-index: 1;
}


/* Container */
.container {
    background-color: #fff;
    padding: 30px;
    width: 80%;
    max-width: 1000px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.3s ease;
    color: white;
    margin-top: 10px;
}

.back-btn {
    background-color: #113dff;
}

.add-btn {
    background-color: #113dff;
}

.edit-btn {
    background-color: #113dff;
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    color: #555;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.btn:hover {
    opacity: 0.8;
}
