
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #02f2ff, #113dff);
    position: relative;
}


.logo {
    position: absolute;
    top: 25%;
    left: 83%;
    transform: translateX(-50%);
    width: 450px;
    z-index: 1;
}

.container {
    height: auto;
    max-width: 800px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
    position: relative;
    z-index: 10;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-right: 350px;
}


.container .title {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}


.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus {
    border-color: #9b59b6;
}


.contact-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-input select {
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

.contact-input input {
    flex: 1;
}

.profile-upload {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.profile-upload .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.upload-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    cursor: pointer;
    background: #f9f9f9;
    transition: 0.3s;
}

.upload-box:hover {
    background: #e9e9e9;
}

.upload-text {
    font-size: 16px;
    color: #555;
}


form .button {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

form .button input {
    height: 45px;
    width: 200px;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    transition: 0.3s ease-in-out;
}

form .button input:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    transform: scale(1.05);
}
